<!doctype html>

{% extends "base.html" %}

{% block content %}

<h1>
        Make Your Buggy
</h1>

<p>
{{ msg }}
</p>

<p>
    <a href"/rules" class="button">See Rules Here</a>
</p>

  <form action="/new" method="post">

    <input type="hidden" name="id" value="{{ buggy['id'] }}"/>
      
    <p>
    <label for="qty_wheels">Number of Wheels:</label>
    <input type="text" name="qty_wheels" value=4 />
    </p>
    
    <p>
    <label for="flag_color">Colour of Flag:</label>
    <input type="text" name="flag_color" value="red"/>
    </p>
    
    <p>
    <label for="flag_color_secondary">Secondary Flag Colour:</label>
    <input type="text" name="flag_color_secondary" value="blue"/>
    </p>
    
    <p>
    <label for="flag_pattern">Flag Pattern:</label>
    <select name="flag_pattern">
        
        <option>plain</option>
        <option>vstripe</option>
        <option>hstripe</option>
        <option>dstripe</option>
        <option>checker</option>
        <option>spot</option>
        
        <option selected="selected">vstripe</option>
        
    <select/>
    </p>
    
    <p>
    <lable for="power_type">Power Type:</label>
    <select name="power_type">
        
        <option>petrol</option>
        <option>fusion</option>
        <option>steam</option>
        <option>bio</option>
        <option>electric</option>
        <option>rocket</option>
        <option>hamster</option>
        <option>thermonuclear</option>
        <option>solar</option>
        <option>wind</option>
        
        <option selected="selected">electric</option>
        
    <select/>
    </p>
    
    <p>
    <lable for="power_units">Units of Power:</label>
    <input type="text" name="power_units" value=5 />
    </p>
    
    <p>
    <lable for="aux_power_type">Auxiliary Power Type:</label>
    <select name="aux_power_type">
        
        <option>petrol</option>
        <option>fusion</option>
        <option>steam</option>
        <option>bio</option>
        <option>electric</option>
        <option>rocket</option>
        <option>hamster</option>
        <option>thermonuclear</option>
        <option>solar</option>
        <option>wind</option>
        
        <option selected="selected">petrol</option>
        
    <select/>
    </p>
    
    <p>
       <lable for="aux_power_units">Units of Auxiliary Power:</label>
       <input type="text" name="aux_power_units" value=5 />
    </p>
    
    <p>
       <lable for="hamster_booster">Hamster Booster:</label>
       <input type="text" name="hamster_booster" value=1 />
    </p>
    
    <p>
       <lable for="tyres">Type of Tyres:</label>
           <select name="tyres">
               
               <option>knobbly</option>
               <option>slick</option>
               <option>steelband</option>
               <option>reactive</option>
               <option>meglev</option>
               
               <option selected="selected">slick</option>
               
            <select/>
    </p>
    
    <p>
        <lable for="qty_tyres">Number of Tyres:</label>
        <input type="text" name="qty_tyres" value=5 />
    </p>
    
    <p>
        <lable for="armour">Armour:</label>
        <select name="armour">
            
            <option>none</option>
            <option>wood</option>
            <option>aluminium</option>
            <option>thinsteel</option>
            <option>thicksteel</option>
            <option>titanium</option>
            
            <option selected="selected">wood</option>
            
        <select/>
    </p>
    
    <p>
        <lable for="fireproof">Fireproof?:</label>
        <select name="fireproof">
            
            <option>No</option>
            <option>Yes</option>
            
            <option selected="selected">No</option>
            
        <select/>
    </p>
    
    <p>
        <lable for="insulated">Insulated?:</label>
        <select name="insulated">
            
            <option>No</option>
            <option>Yes</option>
            
            <option selected="selected">No</option>
            
        <select/>
    </p>
    
    <p>
        <lable for="antibiotic">Antibiotic?:</label>
        <select name="antibiotic">
            
            <option>No</option>
            <option>Yes</option>
            
            <option selected="selected">No</option>
            
        <select/>
    </p>
    
    <p>
        <lable for="attack">Offensive Capability:</label>
        <select name="attack">
            
            <option>none</option>
            <option>spike</option>
            <option>flame</option>
            <option>charge</option>
            <option>biohazard</option>
            
            <option selected="selected">spike</option>
            
        <select/>
    </p>
    
    <p>
        <lable for="qty_attacks">Number of Attacks:</label>
        <input type="text" name="qty_attacks" value=2 />
    </p>
    
    <p>
        <lable for="banging">Sound System?:</label>
        <select name="banging">
            
            <option>No</option>
            <option>Yes</option>g
            
            <option selected="selected">No</option>
            
        <select/>
    </p>
    
    <p>
        <lable for="algo">Type of Algorithm:</label>
        <select name="algo">
            
            <option>defensive</option>
            <option>steady</option>
            <option>offensive</option>
            <option>titfortat</option>
            <option>random</option>
            <option>buggy</option>
            
            <option selected="selected">buggy</option>
            
        <select/>
    </p>
    
    <input type="submit" class="button">
  </form>

  <p>
    <a href="/" class="button">Home</a>
   </p>

<style>
    h1{
        font-family: Rockwell, serif;
        text-align: center;
    }

    p {
        text-align: left;
        display: inline-block;
        overflow: hidden;
        clear: both;
        padding: 10px;
    }

    form {
       width: 0px;
       padding: 10px;
    }

    input, select {
        font-family: Rockwell, serif;
        color: grey;
        font-size: 20px;
        
        width: 250px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #FDECEC;
        border-color: white;
    }

</style>

{% endblock %}
