<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="static/app.css?{{range(1,9999) | random}}" media="screen, projector, print" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main-content">

      {% block content %}{% endblock %}
      
      </div>
    <div class="car" style="position: relative; bottom: 300px">
        <marquee behaviour="scroll" direction="right" scrollamount="15">
            <img src="/static/pink-car.png" width="120" height="80" alt="Natural"/>
        </marquee>
    </div>

</html>
