<!doctype html>

{% extends "base.html" %}

{% block content %}

<h1>Edit Your Buggy #{{ buggy['id'] }}</h1>

<p>
{{ msg }}
</p>

<p>
    <a href="/new" onClick="autofill();"> Click to Autofill </a>
</p>

  <form action="/new" method="post">

    <input type="hidden" name="id" value="{{ buggy['id'] }}"/>
      
    <p>
    <label for="qty_wheels">Number of Wheels:</label>
    <input type="text" name="qty_wheels" value="{{ buggy['qty_wheels'] }}"/>
    </p>
    
    <p>
    <label for="flag_color">Colour of Flag:</label>
    <input type="text" name="flag_color" value="{{buggy['flag_color']}}"/>
    </p>
    
    <p>
    <label for="flag_color_secondary">Secondary Flag Colour:</label>
    <input type="text" name="flag_color_secondary" value="{{buggy['flag_color_secondary']}}"/>
    </p>
    
    <p>
    <label for="flag_pattern">Flag Pattern:</label>
    <select name="flag_pattern">
        
        <option>plain</option>
        <option>vstripe</option>
        <option>hstripe</option>
        <option>dstripe</option>
        <option>checker</option>
        <option>spot</option>
        
    <select value="{{buggy['flag_pattern']}}"/>
    </p>
    
    <p>
    <lable for="power_type">Power Type:</label>
    <select name="power_type">
        
        <option>petrol</option>
        <option>fusion</option>
        <option>steam</option>
        <option>bio</option>
        <option>electric</option>
        <option>rocket</option>
        <option>hamster</option>
        <option>thermonuclear</option>
        <option>solar</option>
        <option>wind</option>
        
    <select value="{{buggy['power_type']}}"/>
    </p>
    
    <p>
    <lable for="power_units">Units of Power:</label>
    <input type="text" name="power_units" value="{{buggy['power_units']}}"/>
    </p>
    
    <p>
    <lable for="aux_power_type">Auxiliary Power Type:</label>
    <select name="aux_power_type">
        
        <option>petrol</option>
        <option>fusion</option>
        <option>steam</option>
        <option>bio</option>
        <option>electric</option>
        <option>rocket</option>
        <option>hamster</option>
        <option>thermonuclear</option>
        <option>solar</option>
        <option>wind</option>
        
    <select value="{{buggy['aux_power_type']}}"/>
    </p>
    
    <p>
       <lable for="aux_power_units">Units of Auxiliary Power:</label>
       <input type="text" name="aux_power_units" value="{{buggy['aux_power_units']}}"/>
    </p>
    
    <p>
       <lable for="hamster_booster">Hamster Booster:</label>
       <input type="text" name="hamster_booster" value="{{buggy['hamster_booster']}}"/>
    </p>
    
    <p>
       <lable for="tyres">Type of Tyres:</label>
           <select name="tyres">
               
               <option>knobbly</option>
               <option>slick</option>
               <option>steelband</option>
               <option>reactive</option>
               <option>meglev</option>
               
            <select value="{{buggy['tyres']}}"/>
    </p>
    
    <p>
        <lable for="qty_tyres">Number of Tyres:</label>
        <input type="text" name="qty_tyres" value="{{buggy['qty_tyres']}}"/>
    </p>
    
    <p>
        <lable for="armour">Armour:</label>
        <select name="armour">
            
            <option>none</option>
            <option>wood</option>
            <option>aluminium</option>
            <option>thinsteel</option>
            <option>thicksteel</option>
            <option>titanium</option>
            
        <select value="{{buggy['armour']}}"/>
    </p>
    
    <p>
        <lable for="fireproof">Fireproof?:</label>
        <select name="fireproof">
            
            <option>No</option>
            <option>Yes</option>
            
        <select value="{{buggy['fireproof']}}"/>
    </p>
    
    <p>
        <lable for="insulated">Insulated?:</label>
        <select name="insulated">
            
            <option>No</option>
            <option>Yes</option>
            
        <select value="{{buggy['insulated']}}"/>
    </p>
    
    <p>
        <lable for="antibiotic">Antibiotic?:</label>
        <select name="antibiotic">
            
            <option>No</option>
            <option>Yes</option>
            
        <select value="{{buggy['antibiotic']}}"/>
    </p>
    
    <p>
        <lable for="attack">Offensive Capability:</label>
        <select name="attack">
            
            <option>none</option>
            <option>spike</option>
            <option>flame</option>
            <option>charge</option>
            <option>biohazard</option>
            
        <select value="{{buggy['attack']}}"/>
    </p>
    
    <p>
        <lable for="qty_attacks">Number of Attacks:</label>
        <input type="text" name="qty_attacks" value="{{buggy['qty_attacks']}}"/>
    </p>
    
    <p>
        <lable for="banging">Sound System?:</label>
        <select name="banging">
            
            <option>No</option>
            <option>Yes</option>g
            
        <select value="{{buggy['banging']}}"/>
    </p>
    
    <p>
        <lable for="algo">Type of Algorithm:</label>
        <select name="algo">
            
            <option>defensive</option>
            <option>steady</option>
            <option>offensive</option>
            <option>titfortat</option>
            <option>random</option>
            <option>buggy</option>g
            
        <select value="{{buggy['algo']}}"/>
    </p>
    
    <input type="submit" class="button">
  </form>

  <p>
    <a href="/" class="button">Home</a>
   </p>

<script type="text/javacsript">
    function autoFill() {
        document.getElementById("{{ buggy['qty_wheels'] }}").value = 4;
        return("FIXME autofill")
            
        document.getElementById("{{ buggy ['flag_color'] }}").value = "red";
            
        document.getElementById("flag_color_secondary").value = "blue";
        
        document.getElementById("flag_pattern").value - "vstripe";
            
        document.getElementById("power_type").value = "petrol";
            
        document.getElementById("power_units").value = 5;
            
        document.getElementById("aux_power_type").value = "petrol";
            
        document.getElementById("aux_power_units").value = 5;
            
        document.getElementById("hamster_booster").value = 1;
            
        document.getElementById("tyres").value = "knobbly";
            
        document.getElementById("qty_tyres").value = 5;
            
        document.getElementById("armour").value = "none";
            
        document.getElementById("fireproof").value = "No";
            
        document.getElementById("insulated").value = "No";
            
        document.getElementById("antibiotic").value = "No";
            
        document.getElementById("attack").value = "none";
            
        document.getElementById("qty_attacks").value = 0;
            
        document.getElementById("banging").value = "No";
            
        document.getElementById("algo").value = "buggy";
        }

</script>

<style>
    h1{
        font-family: Rockwell, serif;
        text-align: center;
    }

    p {
        text-align: left;
        display: inline-block;
        overflow: hidden;
        clear: both;
        padding: 10px;
    }

    form {
       width: 0px;
       padding: 10px;
    }

    input, select {
        font-family: Rockwell, serif;
        color: grey;
        font-size: 20px;
        
        width: 250px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #FDECEC;
        border-color: white;
    }

</style>
{% endblock %}
