<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make Your Buggy</h1>

  <form action="/new" method="post">
    <p>
    <label for="qty_wheels">Number of Wheels:</label>
    <input type="text" name="qty_wheels" />
    </p>
    
    <p>
    <label for="flag_color">Colour of Flag:</label>
    <input type="text" name="flag_color" />
    </p>
    
    <p>
    <label for="flag_color_secondary">Secondary Flag Colour:</label>
    <input type="text" name="flag_color_secondary" />
    </p>
    
    <p>
    <label for="flag_pattern">Flag Pattern:</label>
    <input type="text" name="flag_pattern" />
    </p>
    
    <p>
    <lable for="power_type">Power Type:</label>
    <input type="text" name="flag_pattern" />
    </p>
    
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">Home</a>
   </p>


<style>
    h1{
        font-family: Rockwell, serif;
    }
</style>
{% endblock %}
