<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make Your Buggy</h1>

<p>
  {{ msg }}
</p>

  <form action="/new" method="post">
    <p>
    <label for="qty_wheels">Number of Wheels:</label>
    <input type="text" name="qty_wheels" value="{{ buggy['qty_wheels'] }}"/>
    </p>
    
    <p>
    <label for="flag_color">Colour of Flag:</label>
    <input type="text" name="flag_color" value="{{buggy['flag_color']}}"/>
    </p>
    
    <p>
    <label for="flag_color_secondary">Secondary Flag Colour:</label>
    <input type="text" name="flag_color_secondary" value="{{buggy['flag_color_secondary']}}"/>
    </p>
    
    <p>
    <label for="flag_pattern">Flag Pattern:</label>
    <input type="text" name="flag_pattern" value="{{buggy['flag_pattern']}}"/>
    </p>
    
    <p>
    <lable for="power_type">Power Type:</label>
    <input type="text" name="power_type" value="{{buggy['power_type']}}"/>
    </p>
    
    <p>
    <lable for="power_units">Units of Power:</label>
    <input type="text" name="power_units" value="{{buggy['power_units']}}"/>
    </p>
    
    <p>
    <lable for="aux_power_type">Auxiliary Power Type:</label>
    <input type="text" name="aux_power_type" value="{{buggy['aux_power_type']}}"/>
    </p>
    
    <p>
       <lable for="aux_power_units">Units of Auxiliary Power:</label>
       <input type="text" name="aux_power_units" value="{{buggy['aux_power_units']}}"/>
    </p>
    
    <p>
       <lable for="hamster_booster">Hamster Booster:</label>
       <input type="text" name="hamster_booster" value="{{buggy['hamster_booster']}}"/>
    </p>
    
    <p>
       <lable for="tyres">Type of Tyres:</label>
           <input type="text" name="tyres" value="{{buggy['tyres']}}"/>
    </p>
    
    <p>
        <lable for="qty_tyres">Number of Tyres:</label>
        <input type="text" name="qty_tyres" value="{{buggy['qty_tyres']}}"/>
    </p>
    
    <p>
        <lable for="armour">Armour:</label>
        <input type="text" name="armour" value="{{buggy['armour']}}"/>
    </p>
    
    <p>
        <lable for="fireproof">Fireproof?:</label>
        <input type="text" name="fireproof" value="{{buggy['fireproof']}}"/>
    </p>
    
    <p>
        <lable for="insulated">Insulated?:</label>
        <input type="text" name="insulated" value="{{buggy['insulated']}}"/>
    </p>
    
    <p>
        <lable for="antibiotic">Antibiotic?:</label>
        <input type="text" name="antibiotic" value="{{buggy['antibiotic']}}"/>
    </p>
    
    <p>
        <lable for="attack">Offensive Capability:</label>
        <input type="text" name="attack" value="{{buggy['attack']}}"/>
    </p>
    
    <p>
        <lable for="qty_attacks">Number of Attacks:</label>
        <input type="text" name="qty_attacks" value="{{buggy['qty_attacks']}}"/>
    </p>
    
    <p>
        <lable for="banging">Sound System?:</label>
        <input type="text" name="banging" />
    </p>
    
    <p>
        <lable for="algo">Type of Algorithm:</label>
        <input type="text" name="algo" />
    </p>
    
    <input type="submit" class="button">
  </form>

  <p>
    <a href="/" class="button">Home</a>
   </p>


<style>
    h1{
        font-family: Rockwell, serif;
    }
</style>
{% endblock %}
