{% extends "base.html" %}
{% block content %}

<style>
    .cs1999-tasks .task h1{
        border-bottom: 3px solid hotpink;
    }
    .cs1999-tasks .task {
        margin: 1em;
        padding: 1em;
        border: 1px solid hotpink;
    }
    
    .cs1999-tasks .task h2 {
        border-bottom: 3px solid grey;
    }
</style>

<div class="car1" style="position: relative; bottom: 10px">
    <marquee behaviour="scroll" direction="right" scrollamount="15">
        <img src="/static/pink-car.png" width="120" height="80" alt="Natural"/>
    </marquee>
</div>

<section class="cs1999-tasks">
    
    <h1>Buggy Race Editor: The Making Of</h1>
    
    <div class="task">
        <h2>0-GET: Getting the Source Code</h2>
        
        <p>
        I forked the repo on GitHub and then used <code>git clone</code> to make a local copy.
        </p>
        
        <p>
        Once the repo was on my own machine, I was able to commit changes to version control as I went along, and I pushed back up to my GitHub repo at the end of each day. I followed GitHub's instructions and set up a SSH key so I didn't need to enter my username and password every time I pushed.
        </p>
    </div>
    
    <div class="task">
        <h2>0-RUN: Get the App Running and View it in a Browser</h2>
        
        <p>
        I installed Flask using <code>pip3 install flask</code> to allow for the server to run. The server produced the http://localhost:500 when <code>app.py</code> is run.
        </p>
        
        <p>
        When the program was running, at the point, it had the basic style. The page to make a buggy didn't have many inputs.
        </p>
        
    </div>
    
    <div class="task">
        <h2>0-CHANGE: Make a Change to a Templated and See it Appear</h2>
        
        <p>
        For this task I edited the style of the program using CSS. I did this in <code>/templates/base.html</code>. I changed the font type for the headings.
        </p>
        
        <p>
        This code has since been removed.
        </p>
    </div>
    
    <div class="task">
        <h2>1-ADD: Add More Data to the Form</h2>
        
        <p>
        I used <code>/templates/buggy-form.html</code> to add the following to the buggy form:
        </p>
        <ul>
            <code>flag_color,</code>
            <code>flag_color_secondary,</code>
            <code>flag_pattern,</code>
            <code>power_type,</code>
            <code>power_units,</code>
            <code>aux_power_type,</code>
            <code>aux_power_units,</code>
            <code>hamster_booster,</code>
            <code>tyres,</code>
            <code>qty_tyres,</code>
            <code>armour,</code>
            <code>fireproof,</code>
            <code>insulated,</code>
            <code>antibiotic,</code>
            <code>attack,</code>
            <code>qty_attacks,</code>
            <code>banging,</code>
            <code>algo</code>
        </ul>
        
        <p>
        Although this was all showing up in the form with text inputs, nothing was being saved to the database :(
        </p>
        
        <p>
        To solve this issue I removed <code>database.db</code> and then added in the additional fields as listed above with the suitable type assignment (e.g. <code>VARCHAR</code> or <code>INTEGER</code>). I then inputted <code> python3 init_db.py </code> to allow for the fields to be ran and recognised in the database, resulting in the information above to be added to the database.
        </p>
    </div>
    
    <div class="task">
        <h2>1-VALID: Add Basic Data Validation</h2>
        
        <p>
        To add validation to the form, I used <code>isdigit()</code> to any input that needed to be a number. For example <code>qty_wheels</code> needed to be a number.
        </p>
        
        <p>
        If the input wasn't a number, an error message was outputted to the user telling them to input a number and not a word. The message also included what field on the form needed to be changed.
        </p>
        
        <p>
        The validation looked like this:
        </p>
        
        <p>
        <code>if not qty_wheels.isdigit():</code>
        </code>
        </p>
        
        <p>
        With the error message looking like this:
        </p>
        
        <p>
        <code>msg = f"INVALID! PLEASE ENTER AN INTEGER: Number of Wheels"
       </p>
       
    </div>
    
    <div class="task">
        <h2>1-STYLE: Style Your Editor Just How You Like It</h2>
        
        <p>
        I changed the overall style of the program by using the file <code> /static/app.css </code>. Here I changed the background colour to light grey and the striped border to two shades of pink. The headings were changed to pink and grey and a consistent font was set of all pieces of text including buttons and inputs.
        </p>
        
        <p>
        I also used the <code>marquee</code> tag to allow for two images of pink cars to "drive" across the homescreen. This was done in <code> /templates/index.html </code> so that it would only appear on the homescreen and nowhere else.
        </p>
        
        <p>
        When doing this task, I found that the CSS style didn't update automatically. To fix that issue I had to add in a random function to the <code>a</code> tag in <code> /templates/base.html </code>.
        </p>
        
        
        <p>
        The issue was with caching. By setting <code> app.css </code> to hold a random number value, it means that the stylesheet will appear to be dynamic as opposed to static.
        </p>
        
        <p>
        SIDE NOTE: Pink is pretty and we love little pink buggies driving across the screen :D
        </p>
    </div>
    
    <div class="task">
        <h2>2-EDIT: Edit the Record by Loading its Current Values into the Form</h2>
        
        <p>
        I added a <code> value </code> attribute to every input on the form. This meant that when the user inputted the data, the data was saved in the form as well as in the database.
        </p>

    </div>
    
    <div class="task">
        <h2>2-FORM: Make the Form Better</h2>
        
        <p>
        I added in basic instructions for the user to allow for ease of use and make it clear what to input.
        </p>
        
        <p>
        This was done through a separate rules page which could be accessed both on the homescreen and on the Make Your Buggy page.
        </p>
    </div>
    
    <div class="task">
        <h2>2-COST: Calculate and Save the Game Cost of the Buggy</h2>
        
        <p>
        I generated the cost by using the costs given to us. This was done by calculating the cost for each different element e.g. <code>hamster_booster</code>. Once all the costs were calculated, I added them all together to calculate the total cost of the buggy.
        </p>
        
        <p>
        I set all the cost calculations to be integers by using <code> int()</code>.
        </p>
        
        <p>
        In order to save the data into the database, I had to use <code> rm database.db</code> to remove it so that when I initalised it using <code>python3 init_db.py</code> the total cost column was added to the database, allowing for the cost to be saved to the database.
        </p>
    </div>
    
    <div class="task">
        <h2>2-RULES: Add Validation According to the Game Rules</h2>
        
        <p>
        Using the rules given to us, I created error messages on the Make Your Buggy page, which would be displayed when the user input something that violated the rules.
        </p>
        
        <p>
        For example: <code>if int(qty_wheels)%2 !=0:</code>
        </p>
        
        <p>
        The above code checks if the input for <code>qty_wheels</code> is even, as the rules require.
        </p>
    </div>
    
    <div class="task">
        <h2>3-ENV: Switch to Using Development or Production Environments</h2>
        
        <p>
        From the beginning of the project I used the development environment by using the command: <code>FLASK_ENV=development python3 app.py</code>
        </p>
    </div>
    
    <div class="task">
        <h2>3-AUTOFILL: Add Auto-Fill to the Edit Forms</h2>
        
        <p>
        For this task I created a button which, when pressed, would autofill the form. I struggled with this for a while until I made a separate file <code>autofill-form.html</code> which used the code and format of <code>buggy-form.html</code>. When the button is pressed, it takes the user to this page which is identical to the page they were on but with all the inputs automatically filled for a suitable buggy.
        </p>
    </div>
    
    <div class="task">
        <h2>3-MULTI: Allow Different Buggies to be Created</h2>
        
        <p>
        Multiple buggies can be added and displayed. To do this I changed the code in <code>@app.route('/buggy')</code>.
        </p>
        
        <p>
        Here I had to change the SQL code from <code>record = cur.fetchone()</code> to <code>records = cur.fetchall()</code>. This allowed for the database to fetch and display all the buggies in <code>buggy.html</code>.
        </p>
        
        <p>
        I had to create a variable called <code>buggy_id</code> which held the value of the buggy's ID.
        </p>
        
        <p>
        In order to display all buggies on the Your Buggies page, I needed to use a for loop to loop through all the buggies in database.db. The for loop was done in HTML in <code> buggy.html</code>
        </p>
    </div>
    
    <div class="task">
        <h2>3-DEL: Allow Buggies to be Deleted</h2>
        
        <p>
        Buggies can be deleted. This is possible because I created a new app route. Within this route I used the SQL method <code>DELETE</code> to delete the chosen buggy from the database.
        </p>
        
        <p>
        This is a <code>POST</code> method because I am not requesting data from a specific source, instead I am submitting data to a specific source to induce a change on the serve side of the program.
        </p>
        
        <p>
        I created a submit button in <code>buggy.html</code> which is displayed at the bottom of each buggy table. When the button is pressed the buggy is deleted.
        </p>
    </div>
    
    <div class="task">
        <h2>3-FLAG: Display the Pennant Graphically</h2>
        
        <p>
        I started this task, however, I did not complete it.
        </p>
    </div>
    
    <div class="task">
        <h2>3-TESTS: Write Some Tests</h2>
        
        <p>
        Although I did not test using <code>unittest</code>, I consistently used <code>FIXME</code> statments throughout in order to test. Once I was sure parts if the code worked, I would remove these statements.
        </p>
    </div>
    
    <div class="task">
        <h2>EXTRA CONTENT!</h2>
        
        <p>
        After completing task 3-MULTI, I noticed that the JSON for the buggy was no longer produced. This is because there are now multiple buggies instead of just one.
        </p>
        
        <p>
        To solve this issue I had to edit the JSON route so that it was a <code>GET</code> method and ensure that it was calling <code>buggy_id</code>. Then I removed the link from the homescreen. Once this was done, I moved the link so that it was displayed at each buggy table. When the link is pressed, it displays the JSON for that specific buggy.
        </p>
        </div>
    
</section>

<div class="car2" style="position: relative; bottom: 10px">
    <marquee behaviour="scroll" direction="right" scrollamount="15">
        <img src="/static/pink-car.png" width="120" height="80" alt="Natural"/>
    </marquee>
</div>

<p>
 <a href="/" class="button">Home</a>
</p>

{% endblock %}
