{% extends "base.html" %}
{% block content %}

<section class="cs1999-rules">
    <h1>Rules For Buggy Racing</h1>
    
    <h2>
    RULE 1:
    </h2>
    
    <p>
    Number of Wheels must be 4 or more AND even!
    </p>
    
    <h2>
        RULE 2:
    </h2>
    
    <p>
    The following fuels are non-consumable and you can only have ONE unit of these fuels:
    </p>
    <ol>
        <li>fusion</li>
        <li>thermo</li>
        <li>solar</li>
        <li>wind</li>
    <ol>
    
    <h2>
        RULE 3:
    </h2>
    
    <p>
    Flag colours must be either HEX colours or strings
    </p>
    
    <h2>
        RULE 4:
    </h2>
    
    <p>
    Every Flag Pattern EXCEPT <code> plain </code> must include TWO different colours
    </p>
    
    <h2>
        RULE 5:
    </h2>
    
    <p>
    The Number of Tyres must be greater than the Number of Wheels
    </p>
    
</section>

{% endblock %}
